body {
	margin:0;
	background: #ffffff;
	font-family: 'Quicksand', sans-serif;
}
#menu {
    height:25px;
    width: 1290px; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    background: #000000; /* Цвет фона */
   }
   #logo{
   	position: absolute;
   	width: 25px;
   	height: 30px;
   	margin-top:-37px;
   	margin-left:10px;
   }
#rectangle{
	position: absolute;
	margin-top:-33px;
   	margin-left:1090px;
	height:25px;
    width: 3px; /* Ширина слоя */
    background: #ffffff; /* Цвет фона */
    border-radius:2px;
}

a{
	text-decoration: none;
}
.iphone{
text-decoration: none;
position: absolute;
font-size:18px;
margin-top:-33px;
margin-left:525px;
color:white;
text-decoration: none;
}

.iphone:hover{
color:#ff3b3b;
transition: 0.5s;
}
.mac {
text-decoration: none;
position: absolute;
font-size:18px;
margin-top:-33px;
margin-left:600px;
color:white;
text-decoration: none;
}

.mac:hover{
color:#ff3b3b;
transition: 0.5s;
}
.ipad {
text-decoration: none;
position: absolute;
font-size:18px;
margin-top:-33px;
margin-left:655px;
color:white;
text-decoration: none;
}

.ipad:hover{
color:#ff3b3b;
transition: 0.5s;
}
.tv {
text-decoration: none;
position: absolute;
font-size:18px;
margin-top:-33px;
margin-left:710px;
color:white;
text-decoration: none;
}

.tv:hover{
color:#ff3b3b;
transition: 0.5s;
}

.wat {
text-decoration: none;
position: absolute;
font-size:18px;
margin-top:-33px;
margin-left:750px;
color:white;
text-decoration: none;
}

.wat:hover{
color:#ff3b3b;
transition: 0.5s;
}

.mus {
text-decoration: none;
position: absolute;
font-size:18px;
margin-top:-33px;
margin-left:825px;
color:white;
text-decoration: none;
}

.mus:hover{
color:#ff3b3b;
transition: 0.5s;
}
.acc {
text-decoration: none;
position: absolute;
font-size:18px;
margin-top:-33px;
margin-left:900px;
color:white;
text-decoration: none;
}

.acc:hover{
color:#ff3b3b;
transition: 0.5s;
}
.name {
text-decoration: none;
position: absolute;
font-size:18px;
margin-top:-33px;
margin-left:1015px;
color:white;
text-decoration: none;
}

.name:hover{
color:#ff3b3b;
transition: 0.5s;
}
.ent {
text-decoration: none;
position: absolute;
font-size:18px;
margin-top:-33px;
margin-left:1220px;
color:white;
text-decoration: none;
}

.ent:hover{
color:#ff3b3b;
transition: 0.5s;
}
.rg {
text-decoration: none;
position: absolute;
font-size:18px;
margin-top:-33px;
margin-left:1100px;
color:white;
text-decoration: none;
}

.rg:hover{
color:#ff3b3b;
transition: 0.5s;
}
#iphone12{
	position: absolute;
	width: 650px;
	height: 650px;
    margin-top:-20px;
   	margin-left:30px;
}
#priceip{
	position: absolute;
	color: black;
	font-size:70px;
	margin-top:200px;
   	margin-left:750px;
}
.det{
	text-decoration: none;
	position: absolute;
	color: #1f1f1f;
	font-size:25px;
	margin-top:400px;
   	margin-left:800px;
}
.det:hover{
color:#ff3b3b;
transition: 0.5s;
}
.buy{
	text-decoration: none;
	position: absolute;
	color: #1f1f1f;
	font-size:25px;
	margin-top:400px;
   	margin-left:1000px;
}
.buy:hover{
color:#ff3b3b;
transition: 0.5s;
}
#panel2 {
	margin-top:600px;
   	margin-left:0px;
    height:700px;
    width: 1290px; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    background: #000000; /* Цвет фона */
}

#iphone2{
	position: absolute;
	width: 780px;
	height: 720px;
    margin-top:-720px;
   	margin-left:30px;
}
#word2{
position: absolute;
color: white;
font-size:60px;
margin-top:-500px;
margin-left:820px;
}
#word3{
	position: absolute;
	color: #b5b5b5;
	font-size:25px;
	margin-top:-340px;
	margin-left:820px;
}

#panel3 {
	margin-top:1350px;
   	margin-left:0px;
    height:100px;
    width: 10px; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    background: #ffffff; /* Цвет фона */
}
#iphone3{
	position: absolute;
	width: 650px;
	height: 550px;
    margin-top:-1400px;
   	margin-left:30px;
}
#word4{
	position: absolute;
	color: black;
	font-size: 60px;
	margin-left: 650px;
	margin-top:-1300px;
}
#word5{
	position: absolute;
	color:#828282;
	font-size:25px;
	margin-left:650px;
	margin-top:-1200px;
}
#graphit{
   	position: absolute;
   	width: 50px;
   	height: 50px;
   	margin-top:-1140px;
   	margin-left:670px;
   }
   #gold{
   	position: absolute;
   	width: 50px;
   	height: 50px;
   	margin-top:-1140px;
   	margin-left:770px;
   }
#silver{
   	position: absolute;
   	width: 50px;
   	height: 50px;
   	margin-top:-1140px;
   	margin-left:870px;
   }
#blue{
   	position: absolute;
   	width: 50px;
   	height: 50px;
   	margin-top:-1140px;
   	margin-left:970px;
   }
.clgr{
	position: absolute;
	color: black;
	font-size:18px;
	margin-top:-1080px;
	margin-left:655px;
}
.clgr:hover{
color:#ff3b3b;
transition: 0.5s;
}
.clgl{
	position: absolute;
	color: black;
	font-size:18px;
	margin-top:-1080px;
	margin-left:770px;
}
.clgl:hover{
color:#ff3b3b;
transition: 0.5s;
}
.clsl{
	position: absolute;
	color: black;
	font-size:18px;
	margin-top:-1080px;
	margin-left:865px;
}
.clsl:hover{
color:#ff3b3b;
transition: 0.5s;
}
.clbl{
	position: absolute;
	color: black;
	font-size:18px;
	margin-top:-1080px;
	margin-left:945px;
}
.clbl:hover{
color:#ff3b3b;
transition: 0.5s;
}
#panel4 {
	margin-top:-800px;
   	margin-left:0px;
    height:780px;
    width: 1290px; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    background: #000000; /* Цвет фона */
}
#iphone4{
	position: absolute;
	width: 300px;
	height: 600px;
    margin-top:-660px;
   	margin-left:150px;
}
#word6{
	position: absolute;
	color: white;
	font-size: 60px;
	margin-left: 650px;
	margin-top:-500px;
}
#word7{
	position: absolute;
	color: #b5b5b5;
	font-size: 25px;
	margin-left: 650px;
	margin-top:-400px;
}
.last1{
	text-decoration: none;
	position: absolute;
	color: white;
	font-size:25px;
	margin-top:-200px;
   	margin-left:700px;
}
.last1:hover{
color:#ff3b3b;
transition: 0.5s;
}
.last2{
	text-decoration: none;
	position: absolute;
	color: white;
	font-size:25px;
	margin-top:-200px;
   	margin-left:1000px;
}
.last2:hover{
color:#ff3b3b;
transition: 0.5s;
}
